.p-editor {
  width: 100%;

  &-back {
    position: fixed;
    top: 0;
    left: 25px;
    box-sizing: border-box;
    height: 45px;
    margin-top: 25px;
    padding-right: 25px;
    color: #3eb0ef;
    cursor: pointer;
    font-size: 13px;
    border-right: 1px solid #e5eff5;

    .MuiSvgIcon-root {
      width: 30px;
      height: 30px;
      font-weight: 200;
    }
  }

  &-input-area {
    box-sizing: border-box;
    width: 100vw;
    max-width: 850px;
    padding: 15vh 92px;

    .MuiInput-root {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 500;
    }
  }
}