@import '../../style/base.scss';

.p-editor {
  width: 100%;

  &-back {
    position: fixed;
    top: 0;
    left: 25px;
    box-sizing: border-box;
    height: 45px;
    margin-top: 25px;
    padding-right: 25px;
    color: $blue-button-color;
    cursor: pointer;
    font-size: 13px;
    border-right: 1px solid $gray-lighter-color2;

    .MuiSvgIcon-root {
      width: 30px;
      height: 30px;
      font-weight: 200;
    }
  }

  &-save {
    position: fixed;
    top: 0;
    right: 25px;
    >div {
      display: inline-block;
    }

    &-publish {
      box-sizing: border-box;
      height: 45px;
      margin-top: 25px;
      padding: 0 25px;
      color: $blue-button-color;
      cursor: pointer;
      font-size: 13px;
    }

    &-draft {
      box-sizing: border-box;
      height: 45px;
      margin-top: 25px;
      padding-right: 25px;
      color: $blue-button-color;
      cursor: pointer;
      font-size: 13px;
      border-right: 1px solid $gray-lighter-color2;
      > div {
        color: $blue-button-color !important;
      }
    }
  }

  &-input-area {
    box-sizing: border-box;
    width: 100vw;
    max-width: 850px;
    padding-top: 40px;

    .MuiInput-root {
      margin-bottom: 20px;
      font-size: 26px;
      font-weight: 500;
    }
  }

  &-markdown {
    .editor-toolbar {
      border: 1px solid #ddd;
      border-bottom: none;
    }

    .CodeMirror {
      background: $gray-lighter-color;
      font-size: 16px;
      padding: 16px;
      line-height: 1.8;
      height: calc(100vh - 200px);
    }

    .CodeMirror-scroll {
      height: 50vh;
    }
  }

  .MuiInput-underline {

    &:after,
    &:before {
      display: none;
    }
  }
}

.publish-dialog {
  .MuiDialogTitle-root {
    padding: 24px 32px;
  }

  .MuiDialogContent-root {
    padding: 8px 32px;
  }

  .MuiDialogActions-root {
    padding: 16px 24px;
    .cancel-publish {
      .MuiButton-label {
        color: $black-color!important;
      }
    }
    
    .confirm-publish {
      .MuiButton-label {
        color: $blue-button-color!important;
        > div {
          color: $blue-button-color !important;
        }
      }
    }
  }
}