@import '../../style/variables.scss';

.p-editor {
  width: 100%;

  &-back {
    position: fixed;
    top: 0;
    left: 25px;
    box-sizing: border-box;
    height: 45px;
    margin-top: 25px;
    padding-right: 25px;
    color: $blue-color;
    cursor: pointer;
    font-size: 13px;
    border-right: 1px solid $gray-lighter-color2;

    .MuiSvgIcon-root {
      width: 30px;
      height: 30px;
      font-weight: 200;
    }
  }

  &-save {
    position: fixed;
    top: 0;
    right: 25px;
    z-index: 999;

    >div {
      display: inline-block;
    }

    &-publish {
      box-sizing: border-box;
      height: 40px;
      margin-top: 25px;
      padding: 0 20px;
      background: $primary-color;
      color: $white-color;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      font-size: 13px;
    }

    &-draft {
      box-sizing: border-box;
      height: 40px;
      margin-top: 25px;
      padding: 0 20px;
      color: $primary-color;
      cursor: pointer;
      border: 1px solid $primary-color;
      border-radius: 5px;
      font-weight: bold;
      font-size: 13px;
    }
  }

  &-input-area {
    box-sizing: border-box;
    width: 100vw;
    max-width: 850px;
    padding-top: 40px;
    margin-left: 120px;
    margin-right: 140px;

    .MuiInput-root {
      margin-bottom: 20px;
      font-size: 26px;
      font-weight: 500;
    }
  }

  &-markdown {
    .editor-toolbar {
      border: 1px solid #ddd;
      border-bottom: none;
    }

    .CodeMirror {
      font-size: 16px;
      padding: 16px;
      line-height: 1.8;
      height: calc(100vh - 200px);
    }
  }

  .MuiInput-underline {

    &:after,
    &:before {
      display: none;
    }
  }
}

.publish-dialog {
  .MuiDialogTitle-root {
    padding: 24px 32px;
  }

  .MuiDialogContent-root {
    padding: 8px 32px;
  }

  .MuiDialogActions-root {
    padding: 16px 24px;

    .cancel-publish {
      height: 40px;
      line-height: 40px;
    }

    .confirm-publish {
      box-sizing: border-box;
      height: 40px;
      padding: 0 20px;
      background: $primary-color;
      color: $white-color;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
