extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="https://github.com/login/oauth/authorize?client_id=a269deced07c748a3526&redirect_uri=http://localhost:3000/github/oauth/callback") 使用 Github 账号登陆
