@mixin colors($name, $color) {
  .#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}

$gray-light-color: #999;
$gray-lighter-color: #F7F9FC;
$gray-lighter-color1: #bdbdbd;
$gray-lighter-color2: #d8d8d8;
$gray-color: #888888;
$gray-darker-color: #6d6d6d;
$dark-color: #4a4a4a;
$white-color: white;
$black-color: black;
$green-light-color: #aed452;
$red-color: #f50057;
$orange-color: #996c52;
$headline-color: #468f9d;
$navbar-color: #4b9eae;
$light-box-color: #7fb5bf;
$dark-bg-color: #2f2f2f;
$primary-color: #93b719;
$blue-button-color: #2495DC;
$green-button-color: #93b719;
$hover-green-button-color: #9BC61B;
$link-color: #26a6ed;
$greyblue-color: #58c2c1;
$nice-blue-color: #1880b8;
$orangey-yellow-color: #f5a623;
$border-color: #85e1e0;
$title-color: #16b3b3;
$dark-peach-color: #de7b56;
$title-color: #707070;
$accent-color: #ff687b;
$pig-pink-color: #e27b88;

body {
  @include colors(primary-color, $primary-color);
  @include colors(gray-color, $gray-color);
  @include colors(gray-darker-color, $gray-darker-color);
  @include colors(dark-color, $dark-color);
  @include colors(white-color, $white-color);
  @include colors(black-color, $black-color);
  @include colors(green-button-color, $green-button-color);
  @include colors(hover-green-button-color, $hover-green-button-color);
  @include colors(green-light-color, $green-light-color);
  @include colors(red-color, $red-color);
  @include colors(orange-color, $orange-color);
  @include colors(gray-light-color, $gray-light-color);
  @include colors(gray-lighter-color, $gray-lighter-color);
  @include colors(gray-lighter-color1, $gray-lighter-color1);
  @include colors(gray-lighter-color2, $gray-lighter-color2);
  @include colors(headline-color, $headline-color);
  @include colors(navbar-color, $navbar-color);
  @include colors(light-box-color, $light-box-color);
  @include colors(blue-button-color, $blue-button-color);
  @include colors(dark-bg-color, $dark-bg-color);
  @include colors(link-color, $link-color);
  @include colors(greyblue-color, $greyblue-color);
  @include colors(nice-blue-color, $nice-blue-color);
  @include colors(orangey-yellow-color, $orangey-yellow-color);
  @include colors(border-color, $border-color);
  @include colors(dark-peach-color, $dark-peach-color);
  @include colors(title-color, $title-color);
  @include colors(accent-color, $accent-color);
  @include colors(pig-pink-color, $pig-pink-color);
}