.ex-width-100 {
  width: 100px;
}

.ex-width-150 {
  width: 150px;
}

.ex-width-200 {
  width: 200px;
}

.ex-width-300 {
  width: 300px;
}

.ex-width-400 {
  width: 400px;
}

.ex-width-500 {
  width: 500px;
}

.ex-width-960 {
  width: 960px;
  max-width: 90%;
}

.ex-width-1200 {
  min-width: 1200px;
  width: 1200px;
  max-width: 90%;
}

.ex-width-10 {
  width: 10%;
}

.ex-width-20 {
  width: 20%;
}

.ex-width-30 {
  width: 30%;
}

.ex-width-40 {
  width: 40%;
}

.ex-width-50 {
  width: 50%;
}

.ex-width-60 {
  width: 60%;
}

.ex-width-70 {
  width: 70%;
}

.ex-width-80 {
  width: 80%;
}

.ex-width-90 {
  width: 90%;
}

.ex-width-100 {
  width: 100%;
}

.ex-mw-1200 {
  box-sizing: border-box;
  max-width: 1200px;
}