@import './utilities/utilities.scss';
@import './github.markdown.scss';

html {
  @include table {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/************************************** BODY STYLES **************************************/
body {
  font-family: "open_sans, Open Sans, PingFang SC, Microsoft YaHei, 微软雅黑, STXihei, 华文细黑, sans-serif";
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-y: auto;
  -webkit-font-smoothing: auto;
  overflow-y: auto;
}

/************************************** IMAGE STYLES **************************************/
img {
  max-width: 100%;
}

/************************************** UTILITIES STYLES **************************************/
@include utilities();

/************************************** BUTTON STYLES **************************************/
button {
  text-transform: none !important;

  .MuiButton-label {
    color: $white-color;
  }

  &.primary {
    background-color: $green-color !important;

    &:hover {
      background-color: $hover-green-color !important;
    }
  }

  &.blue {
    background-color: $blue-color !important;
  }

  &.MuiButton-contained {
    box-shadow: none !important;
  }
}

/************************************** ANCHOR STYLES **************************************/
a {
  color: $link-color;
  cursor: pointer;

  &:hover {
    opacity: .85;
  }
}

/************************************** OL, UL STYLES **************************************/
ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

/************************************** MODAL STYLES **************************************/
.modal-content {
  border-radius: 5px;
  box-shadow: 2px 4px 18px 1px rgba(0, 0, 0, 0.24);
  max-height: 80vh;
  overflow: auto;
}

/************************************** FROM STYLES **************************************/
.radio {
  &>span {
    padding: 12px 8px !important;
  }

  svg {
    color: $link-color !important;
  }
}

/************************************** SNACKBAR STYLES **************************************/
.MuiSnackbar-root {
  .MuiSnackbarContent-root {
    background: $blue-color !important;
  }

  button {
    color: #fff !important;
  }

  .MuiSnackbarContent-message {
    max-width: 80%;
  }
}


/************************************** PAGE STYLES **************************************/
.page-container,
.page-layout-wrapper {
  min-height: 90vh;
}

.page-layout {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;

  .box-bg {
    background-color: #fff;
    border: 1px solid #ececec;
  }
}

/************************************** LINEAR PROGRESS STYLES **************************************/
.po-linearProgress {
  background: #d8d8d8 !important;
  height: 8px !important;

  div {
    background: $link-color;
  }
}

/************************************** Tooltip STYLES **************************************/
div[role="tooltip"] div {
  background-color: $dark-bg-color;
}

/************************************** SVG STYLES **************************************/
.MuiSvgIcon-root {
  font-size: inherit !important;
}

/************************************** TAB STYLES **************************************/
.MuiTab-textColorPrimary {
  &.Mui-selected {
    color: $link-color !important;
  }
}

.MuiTabs-indicator {
  background: $link-color !important;
}

/************************************** INTRO JS STYLES **************************************/
.introjs-tooltip {
  background: $dark-bg-color !important;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 3px;
  color: #fff;
  padding: 15px !important;
  padding-bottom: 60px !important;

  p {
    line-height: 1.25;
  }

  .introjs-button {
    background: $green-color;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    transition: all .15s;
    vertical-align: middle;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    font-size: 12px;
    margin: 3px;
    padding: 8px 12px;
    text-shadow: none;
    line-height: 1;
    position: absolute;
    bottom: 15px;
    right: 15px;

    &:hover {
      background: $hover-green-color;
    }
  }

}

.introjs-arrow.top-right {
  border-bottom-color: $dark-bg-color;
}

.introjs-hint,
.introjs-fixedTooltip {
  z-index: 9999999999;
}

/************************************** LIST ITEM STYLES **************************************/
.MuiMenuItem-root {
  font-size: 14px !important;
}

/************************************** INTERCOM STYLES **************************************/
.intercom-launcher-frame {
  transform: scale(0.7) !important;
  bottom: 2px !important;
  right: 2px !important;
}


/************************************** BUTTON STYLES **************************************/
div,
button {
  outline: none !important;
}

/************************************** ANCHOR STYLES **************************************/
a {
  outline: none !important;
}

/************************************** SVG STYLES **************************************/
.MuiSvgIcon-root {
  font-size: inherit !important;
}

/************************************** TAB STYLES **************************************/
.MuiTab-textColorPrimary {
  &.Mui-selected {
    color: #96c02d !important;
  }
}

.MuiTabs-indicator {
  background: #96c02d !important;
}

/************************************** INPUT STYLES **************************************/
.MuiTextField-root {

  label,
  input,
  textarea {
    font-size: 14px !important;
  }

  div::after {
    border-bottom: #888;

    &:hover {
      border-bottom: #888;
    }
  }

  fieldset {
    border-color: rgba(0, 0, 0, 0.23) !important;
  }

  .MuiOutlinedInput-input {
    padding: 12px;
  }

  .Mui-focused fieldset {
    border-color: #1bb0e6 !important;
  }
}