@import './utilities/utilities.scss';
@import './github.markdown.scss';

html {
  @include table {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/************************************** BODY STYLES **************************************/
body {
  font-family: "open_sans,Open Sans,PingFang SC,Microsoft YaHei,微软雅黑,STXihei,华文细黑,sans-serif" !important;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

/************************************** IMAGE STYLES **************************************/
img {
  max-width: 100%;
}

/************************************** UTILITIES STYLES **************************************/
@include utilities();

/************************************** BUTTON STYLES **************************************/
button.primary,
.bg-button-color {
  text-transform: none;

  background-color: $button-color !important;

  &:hover {
    background: $hover-color !important;
  }

  &.Mui-disabled {
    color: #fff !important;
    background-color: #999 !important;
  }
}

/************************************** ANCHOR STYLES **************************************/
a {
  color: $link-color;
  cursor: pointer;
}

/************************************** BORDER STYLES **************************************/
.border {
  height: 1px;
}

/************************************** MODAL STYLES **************************************/
.modal-content {
  border-radius: 5px;
  box-shadow: 2px 4px 18px 1px rgba(0, 0, 0, 0.24);
}

/************************************** FROM STYLES **************************************/
.radio {
  &>span {
    padding: 12px 8px !important;
  }

  svg {
    color: $link-color !important;
  }
}

/************************************** GITTER STYLES **************************************/
.gitter-chat-embed {
  width: 435px;
  z-index: 99;
  top: 78px;
  left: 65px;
  box-shadow: none;
  border: none;
  border-right: 1px solid #ddd;

  &.is-collapsed {
    display: none;
  }

  .gitter-chat-embed-action-bar {
    display: none;
  }

  &:after {
    display: none;
  }
}

/************************************** SNACKBAR STYLES **************************************/
.MuiSnackbar-root {
  .MuiSnackbarContent-root {
    background: $primary-color !important;
  }

  button {
    color: #fff !important;
  }

  .MuiSnackbarContent-message {
    max-width: 90%;
  }
}


/************************************** PAGE STYLES **************************************/
.page-container,
.page-layout-wrapper {
  min-height: 90vh;
}

.page-layout {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;

  .box-bg {
    background-color: #fff;
    border: 1px solid #ececec;
  }
}

/************************************** LINEAR PROGRESS STYLES **************************************/
.po-linearProgress {
  background: #d8d8d8 !important;
  height: 8px !important;

  div {
    background: $link-color;
  }
}

/************************************** Tooltip STYLES **************************************/
div[role="tooltip"] div {
  background-color: $dark-bg-color;
}

/************************************** SVG STYLES **************************************/
.MuiSvgIcon-root {
  font-size: inherit !important;
}

/************************************** TAB STYLES **************************************/
.MuiTab-textColorPrimary {
  &.Mui-selected {
    color: $link-color !important;
  }
}

.MuiTabs-indicator {
  background: $link-color !important;
}

/************************************** INTRO JS STYLES **************************************/
.introjs-tooltip {
  background: $dark-bg-color;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 3px;
  color: #fff;
  padding: 15px;
  padding-bottom: 60px;

  p {
    line-height: 1.25;
  }

  .introjs-button {
    background: $button-color;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    transition: all .15s;
    vertical-align: middle;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    font-size: 12px;
    margin: 3px;
    padding: 8px 12px;
    text-shadow: none;
    line-height: 1;
    position: absolute;
    bottom: 15px;
    right: 15px;

    &:hover {
      background: #9BC61B;
    }
  }

}

.introjs-arrow.top-right {
  border-bottom-color: $dark-bg-color;
}

.introjs-hint,
.introjs-fixedTooltip {
  z-index: 9999999999;
}

/************************************** LIST ITEM STYLES **************************************/
.MuiMenuItem-root {
  font-size: 14px !important;
}