@import '../../style/variables.scss';

.p-dashboard-main {
  align-self: center;
  width: 100%;

  &-head {
    padding: 0 24px;
    height: 84px;

    &-title {
      font-size: 24px;
      font-weight: 600;
    }

    .import-btn {
      margin-right: 15px;
      background: none !important;
      border: 1px solid #88AE18 !important;

      .MuiButton-label {
        color: #88AE18;
      }
    }

    .create-btn {
      border: 1px solid #88AE18 !important;
    }
  }

  &-table {
    box-sizing: border-box;
    max-height: calc(100vh - 84px);
    padding: 0 24px 24px;
    overflow: scroll;

    .title {
      max-width: 360px;
      word-break: break-word;
    }

    span.draft {
      display: inline-block;
      padding: 2px 5px;
      color: #ad26b4;
      background: rgba(173, 38, 180, .2);
      border-radius: 3px;
      min-width: 10px;
      font-size: 13px;
    }

    span.pending {
      display: inline-block;
      padding: 2px 5px;
      background: #e5eff5;
      color: #738a94;
      border-radius: 3px;
      min-width: 10px;
      font-size: 13px;
    }

    span.published {
      display: inline-block;
      padding: 2px 5px;
      background-color: $green-light-color;
      color: $white-color;
      border-radius: 3px;
      min-width: 10px;
      font-size: 13px;
    }

    .edit-button {
      background-color: $blue-color;
      margin-right: 20px;
      color: $white-color;

      &:hover {
        background-color: $blue-color;
      }
    }

    .redirect-button {
      background-color: $green-color;
      margin-right: 20px;
      color: $white-color;
    }

    .delete-button {
      background-color: $red-color;
      margin-right: 20px;
      color: $white-color;

      &:hover {
        background-color: $red-color;
      }
    }

    &-button {
      background: linear-gradient($green-light-color, $green-color);
      font-weight: 500;
      color: white !important;
    }
  }
}

#dashboard-post-menu {
  .MuiListItem-root {
    min-height: auto;
  }
}