@import '../../style/base.scss';

.p-dashboard {
  min-width: 850px;

  &-nav {
    width: 267px;
    min-height: 100vh;

    &-ul {
      padding: 0;

      &-title {
        padding: 10px 20px;
        font-size: 12px;
      }
    }

    &-li {
      list-style: none;

      &-icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }

    &-link {
      padding: 6px 32px;
      color: $title-color;
      transition: none;
      margin: 2px 5px;
      background-color: $gray-lighter-color;

      .MuiSvgIcon-root {
        width: 14px;
        height: 14px;

        .MuiPaper-elevation1 {
          border-radius: 5px;
          box-shadow: 0 0 1px rgba(0, 0, 0, .12), 0 1px 6px rgba(0, 0, 0, .03), 0 6px 10px -8px rgba(0, 0, 0, .1);
          overflow: hidden;
        }
      }
    }

    &-button {
      box-sizing: content-box !important;
      height: 36px !important;
      padding: 10px 15px 10px 20px !important;
      margin: 12px 5px 24px !important;
      text-transform: none !important;
    }

    &-img {
      border-radius: 100%;
      margin-right: 8px;
      border: 1px solid $gray-lighter-color2;
    }

    &-info {
      width: 160px;
      font-weight: 600;

      &-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &-icon {
        width: 20px !important;
        height: 20px !important;
      }

      .MuiSvgIcon-root {
        width: 14px;
        height: 14px;
      }
    }
  }

  &-main {
    background-color: $gray-lighter-color;
    width: 150px;
    height: 100vh;
    flex-grow: 1;

    &-head {
      padding: 0 24px;
      height: 84px;

      &-title {
        font-size: 24px;
        font-weight: 600;
      }
    }

    &-table {
      box-sizing: border-box;
      max-height: calc(100vh - 84px);
      padding: 0 24px 24px;
      overflow: scroll;

      span.draft {
        display: inline-block;
        padding: 2px 5px;
        color: #ad26b4;
        background: rgba(173, 38, 180, .2);
        border-radius: 3px;
        min-width: 10px;
        font-size: 13px;
      }

      span.pending {
        display: inline-block;
        padding: 2px 5px;
        background: #e5eff5;
        color: #738a94;
        border-radius: 3px;
        min-width: 10px;
        font-size: 13px;
      }

      span.published {
        display: inline-block;
        padding: 2px 5px;
        background-color: $green-light-color;
        color: $white-color;
        border-radius: 3px;
        min-width: 10px;
        font-size: 13px;
      }

      .edit-button {
        background-color: $blue-button-color;
        margin-right: 20px;
        color: $white-color;

        &:hover {
          background-color: $blue-button-color;
        }
      }

      .redirect-button {
        background-color: $green-button-color;
        margin-right: 20px;
        color: $white-color;

        &:hover {
          background-color: $green-button-color;
        }
      }

      .delete-button {
        background-color: $red-color;
        margin-right: 20px;
        color: $white-color;

        &:hover {
          background-color: $red-color;
        }
      }

      &-button {
        background: linear-gradient($green-light-color, $green-button-color);
        font-weight: 500;
        color: white !important;
      }
    }
  }

  &-popover {
    .MuiPaper-root {
      width: 235px;
    }
  }

  .MuiPaper-elevation1 {
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .12), 0 1px 6px rgba(0, 0, 0, .03), 0 6px 10px -8px rgba(0, 0, 0, .1);
  }

  .MuiTableRow-head {
    background-color: $gray-lighter-color;
  }

  .MuiTableCell-root {
    border-bottom-color: #e5eff5;
  }

  .MuiTableCell-root {
    padding: 16px 40px 16px 25px;

    &:last-child {
      padding-right: 25px;
    }
  }

  .MuiTableCell-head {
    padding: 12px 40px 12px 25px;
  }

  .MuiTableRow-root {
    &.MuiTableRow-hover:hover {
      background: #f8fafc;
    }
  }
}

#dashboard-post-menu {
  .MuiListItem-root {
    min-height: auto;
  }
}