.p-dashboard {
  min-width: 850px;

  &-nav {
    width: 267px;
    min-height: 100vh;

    &-ul {
      padding: 0;

      &-title {
        padding: 10px 20px;
        font-size: 12px;
      }
    }

    &-li {
      list-style: none;

      &-icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }

    &-link {
      padding: 6px 32px;
      color: #343f44;
      transition: none;
      margin: 2px 5px;
      background-color: #e7ecf3;
    }

    &-button {
      box-sizing: content-box !important;
      height: 36px !important;
      padding: 10px 15px 10px 20px !important;
      margin: 12px 5px 24px !important;
      text-transform: none !important;
    }

    &-img {
      border-radius: 100%;
      margin-right: 8px;
      border: 1px solid #d9dfe7;
    }

    &-info {
      width: 160px;
      font-weight: 600;

      &-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &-icon {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }

  &-main {
    background-color: #f2f4f7;
    width: 150px;
    height: 100vh;
    flex-grow: 1;

    &-head {
      padding: 0 24px;
      height: 84px;

      &-title {
        font-size: 24px;
        font-weight: 600;
      }
    }

    &-table {
      box-sizing: border-box;
      max-height: calc(100vh - 84px);
      padding: 0 24px 24px;
      overflow: scroll;
    }

    &-button {
      background: linear-gradient(#aed452, #8fb925);
      font-weight: 500;
      border: 1px solid #a1ca3d;
      color: white !important;
    }
  }

  &-popover {
    .MuiPaper-root {
      width: 235px;
    }
  }

  .MuiPaper-elevation1 {
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .12), 0 1px 6px rgba(0, 0, 0, .03), 0 6px 10px -8px rgba(0, 0, 0, .1);
  }

  .MuiTableRow-head {
    background-color: rgb(248, 250, 252);
  }

  .MuiTableCell-root {
    border-bottom-color: #e5eff5;
  }

  .MuiTableCell-root {
    padding: 16px 40px 16px 25px;

    &:last-child {
      padding-right: 25px;
    }
  }

  .MuiTableCell-head {
    padding: 12px 40px 12px 25px;
  }

  .MuiTableRow-root {
    &.MuiTableRow-hover:hover {
      background: #f8fafc;
    }
  }
}